@model ErrorViewModel
@{
    ViewData["Title"] = "Ocorreu um erro";
}

@if (Model == null)
{
    <div>
        <h2>Ooops! ocorreu um erro, mas não se preocupe. Nosso time será avisado e iremos corrigir em breve!s</h2>
    </div>
}
else
{
    ViewData["Title"] = Model.Titulo;

    <di>
        <h2>@Html.Raw(Model.Mensagem)</h2>
    </di>
}
